Repository vmware/build-tools-for-vmware-aria, pull requests merged in 2024-08, with the labels that each got.

#362 [ecmascript] (#361) Add Object Support in the VROES.Shims.arrayFrom()
  docs/versions/latest/Release.md
  packages/ecmascript/src/Shims.ts
Labels: kind/bug, kind/enhancement, version/minor, area/ecmascript

#367 [vrotsc-types] (#347) Add aria plugin types definitions
  docs/versions/latest/Release.md
  vro-types/o11n-plugin-aria/index.d.ts
Labels: kind/enhancement, dco-required, area/vro-types, version/minor

#372 [ecmascript] Change default return Object of `Array.from()` Method to be empty array
  docs/versions/latest/Release.md
  packages/ecmascript/src/Shims.ts
Labels: kind/bug, version/patch, area/ecmascript

#369 (#368) Bump maven-assembly-plugin and maven-dependency-plugin to 3.7.1
  maven/base-package/pom.xml
  maven/npmconv/pom.xml
  maven/plugins/actions/src/it/basic/pom.xml
  maven/plugins/actions/src/it/pull/pom.xml
  maven/plugins/polyglot/src/it/basic/pom.xml
  maven/plugins/typescript/src/it/basic/pom.xml
  maven/plugins/vrealize/src/it/basic/pom.xml
  maven/plugins/xml/src/it/pull/pom.xml
  maven/polyglot/pom.xml
  maven/repository/pom.xml
Labels: dco-required, version/minor, area/maven, kind/dependencies

#371 [vrotsc,vrotsc-annotations] (#324) Add Workflow canvas Error Handling
  docs/versions/latest/Components/Archetypes/typescript/Components/Workflows.md
  docs/versions/latest/Release.md
  typescript/vrotsc/e2e/cases/canvas-items/default-error-handler-custom-item.wf.ts
  typescript/vrotsc/e2e/cases/canvas-items/default-error-handler-happy.wf.ts
  typescript/vrotsc/e2e/cases/canvas-items/end-item-exception.wf.ts
  typescript/vrotsc/e2e/cases/canvas-items/workflow.wf.ts
  typescript/vrotsc/e2e/cases/node_modules/@types/vrotsc-annotations/index.d.ts
  typescript/vrotsc/e2e/expect/canvas-items/workflows/VMware/PSCoE/Default Error Handler Custom Item.xml
  typescript/vrotsc/e2e/expect/canvas-items/workflows/VMware/PSCoE/Default Error Handler Happy.xml
  typescript/vrotsc/e2e/expect/canvas-items/workflows/VMware/PSCoE/Workflow End Exception.xml
  typescript/vrotsc/e2e/expect/canvas-items/workflows/VMware/PSCoE/Workflow Test.xml
  typescript/vrotsc/src/compiler/decorators.ts
  typescript/vrotsc/src/compiler/transformer/fileTransformers/workflow/decorators.ts
  typescript/vrotsc/src/compiler/transformer/fileTransformers/workflow/decorators/actionItemDecoratorStrategy.ts
  typescript/vrotsc/src/compiler/transformer/fileTransformers/workflow/decorators/asyncWorkflowItemDecoratorStrategy.ts
  typescript/vrotsc/src/compiler/transformer/fileTransformers/workflow/decorators/decisionItemDecoratorStrategy.ts
  typescript/vrotsc/src/compiler/transformer/fileTransformers/workflow/decorators/defaultErrorHandlerDecoratorStrategy.ts
  typescript/vrotsc/src/compiler/transformer/fileTransformers/workflow/decorators/endItemDecoratorStrategy.ts
  typescript/vrotsc/src/compiler/transformer/fileTransformers/workflow/decorators/itemDecoratorStrategy.ts
  typescript/vrotsc/src/compiler/transformer/fileTransformers/workflow/decorators/scheduledWorkflowItemDecoratorStrategy.ts
  typescript/vrotsc/src/compiler/transformer/fileTransformers/workflow/decorators/waitingTimerItemDecoratorStrategy.ts
  typescript/vrotsc/src/compiler/transformer/fileTransformers/workflow/decorators/workflowItemDecoratorStrategy.ts
  vro-types/vrotsc-annotations/index.d.ts
Labels: dco-required, area/vro-types, lang/typescript, area/vrotsc, version/minor, kind/feature

#373 [vrotsc,vrotsc-annotations] (#324) Canvas Error Handling Feature XML Tag Fix
  typescript/vrotsc/e2e/expect/all-content/workflows/MyOrg/MyProject/Test Workflow 1.xml
  typescript/vrotsc/e2e/expect/canvas-items/workflows/VMware/PSCoE/Action Happy Path.xml
  typescript/vrotsc/e2e/expect/canvas-items/workflows/VMware/PSCoE/Async Workflow Test.xml
  typescript/vrotsc/e2e/expect/canvas-items/workflows/VMware/PSCoE/Complex.xml
  typescript/vrotsc/e2e/expect/canvas-items/workflows/VMware/PSCoE/Decision Edge 2.xml
  typescript/vrotsc/e2e/expect/canvas-items/workflows/VMware/PSCoE/Decision Edge.xml
  typescript/vrotsc/e2e/expect/canvas-items/workflows/VMware/PSCoE/Decision Happy.xml
  typescript/vrotsc/e2e/expect/canvas-items/workflows/VMware/PSCoE/Default Error Handler Custom Item.xml
  typescript/vrotsc/e2e/expect/canvas-items/workflows/VMware/PSCoE/Default Error Handler Happy.xml
  typescript/vrotsc/e2e/expect/canvas-items/workflows/VMware/PSCoE/Root Default First.xml
  typescript/vrotsc/e2e/expect/canvas-items/workflows/VMware/PSCoE/Root When Set.xml
  typescript/vrotsc/e2e/expect/canvas-items/workflows/VMware/PSCoE/Scheduled Workflow Test.xml
  typescript/vrotsc/e2e/expect/canvas-items/workflows/VMware/PSCoE/Waiting Timer Edge.xml
  typescript/vrotsc/e2e/expect/canvas-items/workflows/VMware/PSCoE/Waiting Timer Happy.xml
  typescript/vrotsc/e2e/expect/canvas-items/workflows/VMware/PSCoE/Workflow End Exception.xml
  typescript/vrotsc/e2e/expect/canvas-items/workflows/VMware/PSCoE/Workflow End Happy.xml
  typescript/vrotsc/e2e/expect/canvas-items/workflows/VMware/PSCoE/Workflow Test.xml
  typescript/vrotsc/e2e/expect/workflow/workflows/PS CoE/Test Workflows/Test Workflow 2.xml
  typescript/vrotsc/e2e/expect/workflow/workflows/PS CoE/Test Workflows/Test Workflow 3.xml
  typescript/vrotsc/e2e/expect/workflow/workflows/PS CoE/Test Workflows/Test Workflow 4.xml
  typescript/vrotsc/e2e/expect/workflow/workflows/PS CoE/Test Workflows/Test Workflow 5.xml
  typescript/vrotsc/e2e/expect/workflow/workflows/PSCoE/vRO TypeScript/TestWorkflow1.xml
  typescript/vrotsc/e2e/expect/workflow/workflows/PSCoE/vRO TypeScript/sub/TestWorkflow2.xml
  typescript/vrotsc/e2e/expect/workflow/workflows/PSCoE/vRO TypeScript/sub/sub2/TestWorkflow3.xml
  typescript/vrotsc/src/compiler/transformer/fileTransformers/workflow/decorators/actionItemDecoratorStrategy.ts
  typescript/vrotsc/src/compiler/transformer/fileTransformers/workflow/decorators/asyncWorkflowItemDecoratorStrategy.ts
  typescript/vrotsc/src/compiler/transformer/fileTransformers/workflow/decorators/decisionItemDecoratorStrategy.ts
  typescript/vrotsc/src/compiler/transformer/fileTransformers/workflow/decorators/defaultErrorHandlerDecoratorStrategy.ts
  typescript/vrotsc/src/compiler/transformer/fileTransformers/workflow/decorators/endItemDecoratorStrategy.ts
  typescript/vrotsc/src/compiler/transformer/fileTransformers/workflow/decorators/itemDecoratorStrategy.ts
  typescript/vrotsc/src/compiler/transformer/fileTransformers/workflow/decorators/scheduledWorkflowItemDecoratorStrategy.ts
  typescript/vrotsc/src/compiler/transformer/fileTransformers/workflow/decorators/waitingTimerItemDecoratorStrategy.ts
  typescript/vrotsc/src/compiler/transformer/fileTransformers/workflow/decorators/workflowItemDecoratorStrategy.ts
Labels: kind/bug, lang/typescript, area/vrotsc, version/minor, kind/skip-changelog

#375 [vrotsc-types] (#347) Extend Aria plugin types definitions
  docs/versions/latest/Release.md
  vro-types/o11n-plugin-aria/index.d.ts
Labels: kind/bug, kind/enhancement, area/vro-types, version/minor

#380 [maven] (#379) Exclude license headers generation for javascript and typescript test files
  docs/versions/latest/Release.md
  maven/archetypes/actions/src/main/resources/archetype-resources/pom.xml
  maven/archetypes/mixed/src/main/resources/archetype-resources/actions/pom.xml
  maven/archetypes/ts-vra-ng/src/main/resources/archetype-resources/vro/pom.xml
  maven/archetypes/ts/src/main/resources/archetype-resources/pom.xml
  maven/archetypes/vrealize/src/main/resources/archetype-resources/vro/actions/pom.xml
  maven/base-package/pom.xml
Labels: kind/bug, version/patch, area/maven, kind/feature

#386 [all] (#330) Support for Java version 21 LTS
  .github/workflows/build.yml
  .github/workflows/codeql-java.yml
  .github/workflows/super-linter.yml
  common/artifact-manager/pom.xml
  common/o11n/project/pom.xml
  maven/plugins/pom.xml
  package-installer/pom.xml
  pom.xml
Labels: lang/java, area/artifact-manager, area/installer, version/minor, area/build, area/maven, kind/feature

#387 [vrotsc] (#383) Improvements to Item presentation structure in Workflow Schema
  docs/versions/latest/Release.md
  typescript/vrotsc/e2e/cases/all-content/workflows/TestWorkflow3.xml
  typescript/vrotsc/e2e/cases/canvas-items/action-edge.wf.ts
  typescript/vrotsc/e2e/expect/all-content/workflows/MyOrg/MyProject/Test Workflow 1.xml
  typescript/vrotsc/e2e/expect/all-content/workflows/MyOrg/MyProject/TestWorkflow3.xml
  typescript/vrotsc/e2e/expect/canvas-items/workflows/VMware/PSCoE/Action Edge.xml
  typescript/vrotsc/e2e/expect/canvas-items/workflows/VMware/PSCoE/Action Happy Path.xml
  typescript/vrotsc/e2e/expect/canvas-items/workflows/VMware/PSCoE/Async Workflow Test.xml
  typescript/vrotsc/e2e/expect/canvas-items/workflows/VMware/PSCoE/Complex.xml
  typescript/vrotsc/e2e/expect/canvas-items/workflows/VMware/PSCoE/Decision Edge 2.xml
  typescript/vrotsc/e2e/expect/canvas-items/workflows/VMware/PSCoE/Decision Edge.xml
  typescript/vrotsc/e2e/expect/canvas-items/workflows/VMware/PSCoE/Decision Happy.xml
  typescript/vrotsc/e2e/expect/canvas-items/workflows/VMware/PSCoE/Default Error Handler Custom Item.xml
  typescript/vrotsc/e2e/expect/canvas-items/workflows/VMware/PSCoE/Default Error Handler Happy.xml
  typescript/vrotsc/e2e/expect/canvas-items/workflows/VMware/PSCoE/Root Default First.xml
  typescript/vrotsc/e2e/expect/canvas-items/workflows/VMware/PSCoE/Root When Set.xml
  typescript/vrotsc/e2e/expect/canvas-items/workflows/VMware/PSCoE/Scheduled Workflow Test.xml
  typescript/vrotsc/e2e/expect/canvas-items/workflows/VMware/PSCoE/Waiting Timer Edge.xml
  typescript/vrotsc/e2e/expect/canvas-items/workflows/VMware/PSCoE/Waiting Timer Happy.xml
  typescript/vrotsc/e2e/expect/canvas-items/workflows/VMware/PSCoE/Workflow End Exception.xml
  typescript/vrotsc/e2e/expect/canvas-items/workflows/VMware/PSCoE/Workflow End Happy.xml
  typescript/vrotsc/e2e/expect/canvas-items/workflows/VMware/PSCoE/Workflow Test.xml
  typescript/vrotsc/e2e/expect/workflow/workflows/PS CoE/Test Workflows/Test Workflow 2.xml
  typescript/vrotsc/e2e/expect/workflow/workflows/PS CoE/Test Workflows/Test Workflow 3.xml
  typescript/vrotsc/e2e/expect/workflow/workflows/PS CoE/Test Workflows/Test Workflow 4.xml
  typescript/vrotsc/e2e/expect/workflow/workflows/PS CoE/Test Workflows/Test Workflow 5.xml
  typescript/vrotsc/e2e/expect/workflow/workflows/PSCoE/vRO TypeScript/TestWorkflow1.xml
  typescript/vrotsc/e2e/expect/workflow/workflows/PSCoE/vRO TypeScript/sub/TestWorkflow2.xml
  typescript/vrotsc/e2e/expect/workflow/workflows/PSCoE/vRO TypeScript/sub/sub2/TestWorkflow3.xml
  typescript/vrotsc/src/compiler/transformer/fileTransformers/workflow/decorators/actionItemDecoratorStrategy.ts
  typescript/vrotsc/src/compiler/transformer/fileTransformers/workflow/decorators/asyncWorkflowItemDecoratorStrategy.ts
  typescript/vrotsc/src/compiler/transformer/fileTransformers/workflow/decorators/canvasItemDecoratorStrategy.ts
  typescript/vrotsc/src/compiler/transformer/fileTransformers/workflow/decorators/decisionItemDecoratorStrategy.ts
  typescript/vrotsc/src/compiler/transformer/fileTransformers/workflow/decorators/defaultErrorHandlerDecoratorStrategy.ts
  typescript/vrotsc/src/compiler/transformer/fileTransformers/workflow/decorators/endItemDecoratorStrategy.ts
  typescript/vrotsc/src/compiler/transformer/fileTransformers/workflow/decorators/helpers/graph.ts
  typescript/vrotsc/src/compiler/transformer/fileTransformers/workflow/decorators/itemDecoratorStrategy.ts
  typescript/vrotsc/src/compiler/transformer/fileTransformers/workflow/decorators/scheduledWorkflowItemDecoratorStrategy.ts
  typescript/vrotsc/src/compiler/transformer/fileTransformers/workflow/decorators/waitingTimerItemDecoratorStrategy.ts
  typescript/vrotsc/src/compiler/transformer/fileTransformers/workflow/decorators/workflowItemDecoratorStrategy.ts
  typescript/vrotsc/src/compiler/transformer/fileTransformers/workflow/helpers/findItemByName.ts
  typescript/vrotsc/src/compiler/transformer/fileTransformers/workflow/helpers/findTargetItem.ts
  typescript/vrotsc/src/compiler/transformer/fileTransformers/workflow/helpers/formatPosition.ts
  typescript/vrotsc/src/compiler/transformer/fileTransformers/workflow/presentation.ts
Labels: kind/enhancement, lang/typescript, area/vrotsc, version/minor, kind/feature, pr/wip

#389 [docs] (#388) Extend polyglot archetype documentation
  docs/versions/latest/Components/Archetypes/Polyglot/General/Project Structure.md
Labels: area/documentation, version/minor, kind/documentation

#395 [vrotsc-types] (#347) Extend Aria plugin types definitions
  docs/versions/latest/Release.md
  vro-types/o11n-plugin-aria/index.d.ts
Labels: kind/bug, kind/enhancement, area/vro-types, version/minor
