Repository vmware/build-tools-for-vmware-aria, pull requests merged in 2024-11, with the labels that each got.

#452 [artifact-manager,vra-ng] (#207) Remove regional content support from `vra-ng` projects
  common/artifact-manager/pom.xml
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/model/vrang/VraNgFlavorMapping.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/model/vrang/VraNgFlavorProfile.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/model/vrang/VraNgImageMapping.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/model/vrang/VraNgImageProfile.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/model/vrang/VraNgPackageContent.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/model/vrang/VraNgPackageDescriptor.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/model/vrang/VraNgPackageMemberType.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/model/vrang/VraNgRegionMapping.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/model/vrang/VraNgStorageProfile.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/rest/RestClientVraNg.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/rest/RestClientVraNgPrimitive.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/store/vrang/AbstractVraNgRegionalStore.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/store/vrang/VraNgDirs.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/store/vrang/VraNgFlavorMappingStore.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/store/vrang/VraNgImageMappingStore.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/store/vrang/VraNgRegionalContentStore.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/store/vrang/VraNgRegionalContentUtils.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/store/vrang/VraNgStorageProfileStore.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/store/vrang/VraNgTypeStoreFactory.java
  common/artifact-manager/src/test/java/com/vmware/pscoe/iac/artifact/helpers/stubs/FlavorMappingMockBuilder.java
  common/artifact-manager/src/test/java/com/vmware/pscoe/iac/artifact/helpers/stubs/ImageMappingMockBuilder.java
  common/artifact-manager/src/test/java/com/vmware/pscoe/iac/artifact/helpers/stubs/RegionMappingMockBuilder.java
  common/artifact-manager/src/test/java/com/vmware/pscoe/iac/artifact/helpers/stubs/StorageProfileMockBuilder.java
  common/artifact-manager/src/test/java/com/vmware/pscoe/iac/artifact/helpers/vrang/RestClientVraNgPrimitiveTestDouble.java
  common/artifact-manager/src/test/java/com/vmware/pscoe/iac/artifact/rest/vrang/RestClientVraNgPrimitiveTest.java
  common/artifact-manager/src/test/java/com/vmware/pscoe/iac/artifact/store/vrang/VraNgFlavorMappingStoreTest.java
  common/artifact-manager/src/test/java/com/vmware/pscoe/iac/artifact/store/vrang/VraNgImageMappingStoreTest.java
  common/artifact-manager/src/test/java/com/vmware/pscoe/iac/artifact/store/vrang/VraNgRegionalContentStoreTest.java
  common/artifact-manager/src/test/java/com/vmware/pscoe/iac/artifact/store/vrang/VraNgStorageProfileStoreTest.java
  docs/versions/latest/Components/Archetypes/vRA 8.x/Components/Storage Profiles.md
  docs/versions/latest/Components/Archetypes/vRA 8.x/General/Content.md
  docs/versions/latest/Components/Archetypes/vRA 8.x/General/Core Concepts.md
  docs/versions/latest/Components/Archetypes/vRA 8.x/General/Getting Started.md
  docs/versions/latest/Components/Archetypes/vRA 8.x/General/Known Issues.md
  docs/versions/latest/Components/Archetypes/vRA 8.x/README.md
  docs/versions/latest/Release.md
  maven/archetypes/ts-vra-ng/src/main/resources/archetype-resources/vra/content.yaml
  maven/archetypes/ts-vra-ng/src/main/resources/archetype-resources/vra/src/main/resources/regions/cloudaccount~305f4b356906b87558c3f733e1109/flavor-mappings/medium.json
  maven/archetypes/ts-vra-ng/src/main/resources/archetype-resources/vra/src/main/resources/regions/cloudaccount~305f4b356906b87558c3f733e1109/flavor-mappings/small.json
  maven/archetypes/ts-vra-ng/src/main/resources/archetype-resources/vra/src/main/resources/regions/cloudaccount~305f4b356906b87558c3f733e1109/image-mappings/smallVM.json
  maven/archetypes/ts-vra-ng/src/main/resources/archetype-resources/vra/src/main/resources/regions/cloudaccount~305f4b356906b87558c3f733e1109/src-region-profile.json
  maven/archetypes/ts-vra-ng/src/main/resources/archetype-resources/vra/src/main/resources/regions/flavor.json
  maven/archetypes/vra-ng/src/main/resources/archetype-resources/content.yaml
  maven/archetypes/vra-ng/src/main/resources/archetype-resources/src/main/resources/regions/cloudaccount~305f4b356906b87558c3f733e1109/flavor-mappings/medium.json
  maven/archetypes/vra-ng/src/main/resources/archetype-resources/src/main/resources/regions/cloudaccount~305f4b356906b87558c3f733e1109/flavor-mappings/small.json
  maven/archetypes/vra-ng/src/main/resources/archetype-resources/src/main/resources/regions/cloudaccount~305f4b356906b87558c3f733e1109/image-mappings/smallVM.json
  maven/archetypes/vra-ng/src/main/resources/archetype-resources/src/main/resources/regions/cloudaccount~305f4b356906b87558c3f733e1109/src-region-profile.json
  maven/archetypes/vra-ng/src/main/resources/archetype-resources/src/main/resources/regions/flavor.json
Labels: kind/enhancement, lang/java, area/artifact-manager, version/major, kind/refactor, area/maven, kind/feature

#455 [vrotsc] (#393) Make `versionTemplate` mandatory property of `@PolicyTemplate` decorator properties
  docs/versions/latest/Components/Archetypes/typescript/Components/Policy.md
  docs/versions/latest/Release.md
  typescript/vrotsc/e2e/cases/all-content/policyTemplates/PolicyTemplateAmqpV1.pl.ts
  typescript/vrotsc/e2e/cases/all-content/policyTemplates/PolicyTemplateScheduleV1.pl.ts
  typescript/vrotsc/e2e/cases/node_modules/@types/vrotsc-annotations/index.d.ts
  typescript/vrotsc/src/compiler/decorators.ts
  typescript/vrotsc/src/compiler/transformer/fileTransformers/policyTemplate.ts
  typescript/vrotsc/src/compiler/transformer/helpers/getAttributeVersionValidator.ts
  vro-types/vrotsc-annotations/index.d.ts
Labels: kind/enhancement, lang/javascript, area/vrotsc, version/major, kind/feature

#456 [polyglotpkg] (#391) `ABX` runtimes no longer default to `vRO` ones
  docs/versions/latest/Components/Archetypes/Polyglot/General/Project Structure.md
  docs/versions/latest/Release.md
  typescript/polyglotpkg/src/lib/model.ts
  typescript/polyglotpkg/src/lib/utils.ts
  typescript/vrotsc/src/compiler/transformer/codeTransformers/modules.ts
Labels: dco-required, lang/typescript, version/major, kind/refactor, area/polyglotpkg

#468 [github] (#445) Add custom dependabot config with proper labelling
  .github/dependabot.yml
Labels: kind/skip-changelog, version/patch, area/github

#498 [artifact-manager,installer,maven] (#328) Remove `vrang.project.id` configuration property
  .node-version
  common/artifact-manager/pom.xml
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/configuration/ConfigurationVraNg.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/rest/RestClientCs.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/rest/RestClientVraNgPrimitive.java
  common/o11n/project/pom.xml
  docs/versions/latest/Components/Archetypes/vRA 8.x/General/Getting Started.md
  docs/versions/latest/Release.md
  maven/base-package/cs-package/pom.xml
  maven/base-package/pom.xml
  maven/base-package/serverless/pom.xml
  maven/base-package/vra-ng-package/pom.xml
  maven/plugins/pom.xml
  maven/polyglot/pom.xml
  package-installer/src/main/java/com/vmware/pscoe/iac/installer/Installer.java
Labels: lang/java, area/artifact-manager, area/installer, version/major, kind/refactor, area/maven, kind/feature

#500 [maven,artifact-manager,installer] (#498) Remove `vrang.org.id` and `vrang_org_id` configuration properties
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/configuration/ConfigurationVraNg.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/configuration/ConfigurationVroNg.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/utils/VraNgOrganizationUtil.java
  common/artifact-manager/src/test/java/com/vmware/pscoe/iac/artifact/store/vrang/VraNgApprovalPolicyStoreTest.java
  common/artifact-manager/src/test/java/com/vmware/pscoe/iac/artifact/store/vrang/VraNgContentSharingPolicyStoreTest.java
  common/artifact-manager/src/test/java/com/vmware/pscoe/iac/artifact/store/vrang/VraNgCustomResourceStoreTest.java
  common/artifact-manager/src/test/java/com/vmware/pscoe/iac/artifact/store/vrang/VraNgDay2ActionsPolicyStoreTest.java
  common/artifact-manager/src/test/java/com/vmware/pscoe/iac/artifact/store/vrang/VraNgDeploymentLimitPolicyStoreTest.java
  common/artifact-manager/src/test/java/com/vmware/pscoe/iac/artifact/store/vrang/VraNgLeasePolicyStoreTest.java
  common/artifact-manager/src/test/java/com/vmware/pscoe/iac/artifact/store/vrang/VraNgPropertyGroupStoreTest.java
  common/artifact-manager/src/test/java/com/vmware/pscoe/iac/artifact/store/vrang/VraNgResourceQuotaPolicyStoreTest.java
  common/artifact-manager/src/test/java/com/vmware/pscoe/iac/artifact/store/vrang/VraNgSubscriptionStoreTest.java
  docs/versions/latest/Components/Archetypes/vRA 8.x/General/Getting Started.md
  docs/versions/latest/Release.md
  maven/base-package/cs-package/pom.xml
  maven/base-package/pom.xml
  maven/base-package/serverless/pom.xml
  maven/base-package/vra-ng-package/pom.xml
  maven/polyglot/pom.xml
  package-installer/src/main/java/com/vmware/pscoe/iac/installer/Installer.java
Labels: lang/java, area/artifact-manager, area/installer, version/major, kind/refactor, area/maven

#465 [vrotest,vrotsc] (#461) Configurable unit tests setup
  docs/versions/latest/Release.md
  maven/base-package/actions-package/pom.xml
  maven/base-package/typescript-project/pom.xml
  maven/plugins/common/src/main/java/com/vmware/pscoe/maven/plugins/AbstractVroTestMojo.java
  typescript/vrotest/Gulpfile.ts
  typescript/vrotest/e2e/project/node_modules/@vmware-pscoe/vrotest/test-framework-templates/jasmine/jasmine.config.json
  typescript/vrotest/e2e/project/node_modules/@vmware-pscoe/vrotest/test-framework-templates/jasmine/package.json
  typescript/vrotest/e2e/project/node_modules/@vmware-pscoe/vrotest/test-framework-templates/jasmine/run-jasmine.js
  typescript/vrotest/e2e/project/node_modules/@vmware-pscoe/vrotest/test-framework-templates/jest/jest.config.js
  typescript/vrotest/e2e/project/node_modules/@vmware-pscoe/vrotest/test-framework-templates/jest/package.json
  typescript/vrotest/e2e/src/runner.ts
  typescript/vrotest/package-lock.json
  typescript/vrotest/package.json
  typescript/vrotest/readme.md
  typescript/vrotest/src/build.ts
  typescript/vrotest/src/constants.ts
  typescript/vrotest/src/run.ts
  typescript/vrotest/src/types/build-command-flags.ts
  typescript/vrotest/src/util.ts
  typescript/vrotest/src/vrotest.ts
  typescript/vrotest/test-framework-templates/jasmine/jasmine.config.json
  typescript/vrotest/test-framework-templates/jasmine/package.json
  typescript/vrotest/test-framework-templates/jasmine/run-jasmine.js
  typescript/vrotest/test-framework-templates/jest/jest.config.js
  typescript/vrotest/test-framework-templates/jest/package.json
  typescript/vrotest/usage/build.txt
  typescript/vrotsc/src/compiler/program.ts
  typescript/vrotsc/src/compiler/transformer/fileTransformers/test.ts
  typescript/vrotsc/src/types.ts
Labels: dco-required, version/minor, area/tests, area/build, kind/feature

#520 build(deps): Bump `cross-spawn` to `^7.0.6` in /typescript/vrotest/ and typescript/npmconv/
  typescript/npmconv/package-lock.json
  typescript/npmconv/package.json
  typescript/vrotest/package-lock.json
  typescript/vrotest/package.json
Labels: lang/javascript, kind/dependencies

#528 [build] (#329) Add Trivy fs scan configuration
  .github/trivy.yml
  .github/workflows/trivy.yml
  docs/versions/latest/Release.md
Labels: version/minor, kind/skip-changelog, area/build, kind/security

#529 [installer] (#467) Add Support for YAML Input Format when Running Workflows via the Installer
  docs/versions/latest/Release.md
  package-installer/pom.xml
  package-installer/src/main/java/com/vmware/pscoe/iac/installer/Installer.java
Labels: kind/enhancement, lang/java, area/installer, version/minor, kind/feature
