Repository vmware/build-tools-for-vmware-aria, pull requests merged in 2024-12, with the labels that each got.

#549 [vrotsc] (#514) Add support for defining values for Workflow attributes
  docs/versions/latest/Release.md
  maven/plugins/common/pom.xml
  maven/plugins/common/src/main/java/com/vmware/pscoe/maven/plugins/AbstractIacMojo.java
  maven/plugins/pom.xml
  typescript/vrotsc/src/compiler/transformer/codeTransformers/attributes.ts
  typescript/vrotsc/src/compiler/transformer/fileTransformers/policyTemplate.ts
  typescript/vrotsc/src/compiler/transformer/fileTransformers/workflow/decorators.ts
  typescript/vrotsc/src/compiler/transformer/fileTransformers/workflow/presentation.ts
Labels: kind/bug, kind/enhancement, lang/typescript, area/vrotsc, version/minor, kind/feature

#551 [artifact-manager] (#533) Better error handling when parameters are missing types
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/rest/RestClientVro.java
  common/artifact-manager/src/test/java/com/vmware/pscoe/iac/artifact/rest/vro/RestClientVroTest.java
  docs/versions/latest/Release.md
Labels: kind/feature

#555 [artifact-manager] (#552) Implement exception handling during deletion of Custom Resource which is in use
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/rest/RestClientFactory.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/store/vrang/VraNgCustomResourceStore.java
  docs/versions/latest/Release.md
Labels: kind/bug, lang/java, area/artifact-manager, version/patch

#556 [docs] (#466) Plugin arguments cheatsheets generation fixed
  .github/workflows/release.yml
  docs/versions/latest/General/Cheatsheets/abx-plugin-arguments.md
  docs/versions/latest/General/Cheatsheets/actions-plugin-arguments.md
  docs/versions/latest/General/Cheatsheets/bsc-plugin-arguments.md
  docs/versions/latest/General/Cheatsheets/cs-plugin-arguments.md
  docs/versions/latest/General/Cheatsheets/polyglot-plugin-arguments.md
  docs/versions/latest/General/Cheatsheets/ssh-plugin-arguments.md
  docs/versions/latest/General/Cheatsheets/typescript-plugin-arguments.md
  docs/versions/latest/General/Cheatsheets/vcd-ng-plugin-arguments.md
  docs/versions/latest/General/Cheatsheets/vra-ng-plugin-arguments.md
  docs/versions/latest/General/Cheatsheets/vrealize-plugin-arguments.md
  docs/versions/latest/General/Cheatsheets/vrli-plugin-arguments.md
  docs/versions/latest/General/Cheatsheets/vrops-plugin-arguments.md
  docs/versions/latest/General/Cheatsheets/xml-plugin-arguments.md
  docs/versions/latest/Release.md
  docs/versions/v3.1.1/Release.md
Labels: kind/bug, version/patch, kind/documentation

#563 [artifact-manager] (#562) Unreleasing blueprint versions fails
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/rest/RestClientVraNgPrimitive.java
  docs/versions/latest/Release.md
Labels: kind/bug, lang/java, area/artifact-manager, version/patch

#569 [maven,installer] (#484) Unable to package `ABX` project, Add interactive installer option for importing ABX package
  docs/versions/latest/Release.md
  maven/archetypes/polyglot/src/main/resources/archetype-resources/package.json
  maven/plugins/abx/src/main/java/com/vmware/pscoe/maven/plugins/PackageMojo.java
  package-installer/src/main/java/com/vmware/pscoe/iac/installer/Installer.java
Labels: kind/bug, area/installer, area/abx, version/patch

#570 [installer] (#568) Default value of `Run vRO workflow?` interactive installer option changed to `N`
  docs/versions/latest/Release.md
  package-installer/src/main/java/com/vmware/pscoe/iac/installer/Installer.java
Labels: kind/enhancement, area/installer, version/minor
