Repository vmware/build-tools-for-vmware-aria, pull requests merged in 2024-07, with the labels that each got.

#296 [vrotsc] [vrotsc-annotations] (#289) Workflows now support different type of items
  docs/versions/latest/Components/Archetypes/typescript/Components/Workflows.md
  docs/versions/latest/Release.md
  typescript/vrotsc/e2e/cases/canvas-items/complex.wf.ts
  typescript/vrotsc/e2e/cases/canvas-items/decision-edge-2.wf.ts
  typescript/vrotsc/e2e/cases/canvas-items/decision-edge.wf.ts
  typescript/vrotsc/e2e/cases/canvas-items/decision-happy.wf.ts
  typescript/vrotsc/e2e/cases/canvas-items/root-default-first.wf.ts
  typescript/vrotsc/e2e/cases/canvas-items/root-when-set.wf.ts
  typescript/vrotsc/e2e/cases/canvas-items/waiting-timer-edge-2.wf.ts
  typescript/vrotsc/e2e/cases/canvas-items/waiting-timer-edge.wf.ts
  typescript/vrotsc/e2e/cases/canvas-items/waiting-timer-happy.wf.ts
  typescript/vrotsc/e2e/cases/node_modules/@types/vrotsc-annotations/index.d.ts
  typescript/vrotsc/e2e/expect/all-content/workflows/MyOrg/MyProject/Test Workflow 1.xml
  typescript/vrotsc/e2e/expect/canvas-items/workflows/VMware/PSCoE/Example Waiting Timer.element_info.xml
  typescript/vrotsc/e2e/expect/canvas-items/workflows/VMware/PSCoE/Example Waiting Timer.xml
  typescript/vrotsc/e2e/expect/workflow/workflows/PS CoE/Test Workflows/Test Workflow 2.xml
  typescript/vrotsc/e2e/expect/workflow/workflows/PS CoE/Test Workflows/Test Workflow 3.xml
  typescript/vrotsc/e2e/expect/workflow/workflows/PS CoE/Test Workflows/Test Workflow 4.xml
  typescript/vrotsc/e2e/expect/workflow/workflows/PS CoE/Test Workflows/Test Workflow 5.xml
  typescript/vrotsc/e2e/expect/workflow/workflows/PSCoE/vRO TypeScript/TestWorkflow1.xml
  typescript/vrotsc/e2e/expect/workflow/workflows/PSCoE/vRO TypeScript/sub/TestWorkflow2.xml
  typescript/vrotsc/e2e/expect/workflow/workflows/PSCoE/vRO TypeScript/sub/sub2/TestWorkflow3.xml
  typescript/vrotsc/src/compiler/decorators.ts
  typescript/vrotsc/src/compiler/program.ts
  typescript/vrotsc/src/compiler/transformer/codeTransformers/header.ts
  typescript/vrotsc/src/compiler/transformer/codeTransformers/prologueStatements.ts
  typescript/vrotsc/src/compiler/transformer/fileTransformers/config.ts
  typescript/vrotsc/src/compiler/transformer/fileTransformers/policyTemplate.ts
  typescript/vrotsc/src/compiler/transformer/fileTransformers/workflow.ts
  typescript/vrotsc/src/compiler/transformer/fileTransformers/workflow/decorators.ts
  typescript/vrotsc/src/compiler/transformer/fileTransformers/workflow/decorators/canvasItemDecoratorStrategy.ts
  typescript/vrotsc/src/compiler/transformer/fileTransformers/workflow/decorators/decisionItemDecoratorStrategy.ts
  typescript/vrotsc/src/compiler/transformer/fileTransformers/workflow/decorators/helpers/sourceFile.ts
  typescript/vrotsc/src/compiler/transformer/fileTransformers/workflow/decorators/itemDecoratorStrategy.ts
  typescript/vrotsc/src/compiler/transformer/fileTransformers/workflow/decorators/rootItemDecoratorStrategy.ts
  typescript/vrotsc/src/compiler/transformer/fileTransformers/workflow/decorators/waitingTimerItemDecoratorStrategy.ts
  typescript/vrotsc/src/compiler/transformer/fileTransformers/workflow/presentation.ts
  typescript/vrotsc/src/compiler/transformer/fileTransformers/workflow/workflow.ts
  typescript/vrotsc/src/compiler/transformer/helpers/node.ts
  vro-types/vrotsc-annotations/index.d.ts
Labels: enhancement, vrotsc, minor

#300 [artifact-manager] [archetypes/vra] (#210) Cloud Template folder name and the name from details.json mismatch issue fixed in vRA
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/store/vrang/VraNgBlueprintStore.java
  common/artifact-manager/src/test/java/com/vmware/pscoe/iac/artifact/helpers/filesystem/BlueprintFsMocks.java
  common/artifact-manager/src/test/java/com/vmware/pscoe/iac/artifact/store/vrang/VraNgBlueprintStoreTest.java
  docs/versions/latest/Release.md
Labels: bug, patch

#288 [artifact-manager] [archetypes/vrops] (#280) Add support for priority ordering of Aria Operations policies
  common/artifact-manager/pom.xml
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/VropsPackageStore.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/rest/RestClientVrops.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/rest/model/vrops/PolicyDTO.java
  common/artifact-manager/src/test/java/com/vmware/pscoe/iac/artifact/store/vrops/VropsPackageStoreTest.java
  docs/archive/CHANGELOG.md
  docs/versions/latest/Release.md
  maven/archetypes/vrops/src/main/resources/archetype-resources/content.yaml
Labels: enhancement, area/artifact-manager, version/minor

#309 chore: Updated release drafter and PR template
  .github/pull_request_template.md
  .github/release-drafter.yml
  .github/workflows/stale.yml
Labels: kind/enhancement, version/minor, kind/skip-changelog, enhancement

#310 docs: Add label details to CONTRIBUTING.md
  CONTRIBUTING.md
Labels: version/minor, kind/skip-changelog, kind/feature, kind/documentation

#282 [artifact-manager] [archetypes/vra] (#250) Add global scope support for property-group in vRA 8
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/model/vrang/VraNgPropertyGroup.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/store/vrang/VraNgPropertyGroupStore.java
  common/artifact-manager/src/test/java/com/vmware/pscoe/iac/artifact/store/vrang/VraNgPropertyGroupStoreTest.java
  docs/versions/latest/Release.md
Labels: kind/bug, kind/enhancement, area/artifact-manager, version/minor

#317 refactor: Removed `.vscode` directories
  .vscode/settings.json
  common/artifact-manager/.vscode/launch.json
Labels: version/minor, kind/skip-changelog, kind/refactor

#315 [vrotsc] (#314) Implement canvas element decorator strategies item printing in vrotsc
  CONTRIBUTING.md
  typescript/vrotsc/src/compiler/decorators.ts
  typescript/vrotsc/src/compiler/transformer/fileTransformers/workflow/decorators/canvasItemDecoratorStrategy.ts
  typescript/vrotsc/src/compiler/transformer/fileTransformers/workflow/decorators/decisionItemDecoratorStrategy.ts
  typescript/vrotsc/src/compiler/transformer/fileTransformers/workflow/decorators/helpers/presentation.ts
  typescript/vrotsc/src/compiler/transformer/fileTransformers/workflow/decorators/itemDecoratorStrategy.ts
  typescript/vrotsc/src/compiler/transformer/fileTransformers/workflow/decorators/rootItemDecoratorStrategy.ts
  typescript/vrotsc/src/compiler/transformer/fileTransformers/workflow/decorators/waitingTimerItemDecoratorStrategy.ts
  typescript/vrotsc/src/compiler/transformer/fileTransformers/workflow/helpers/findItemByName.ts
  typescript/vrotsc/src/compiler/transformer/fileTransformers/workflow/helpers/findTargetItem.ts
  typescript/vrotsc/src/compiler/transformer/fileTransformers/workflow/presentation.ts
  typescript/vrotsc/src/utilities/stringBuilder.ts
Labels: lang/typescript, area/vrotsc, version/minor, kind/refactor

#320 [polyglotpkg] (#259) Packages can now be built correctly
  docs/versions/latest/Release.md
  typescript/polyglotpkg/package-lock.json
  typescript/polyglotpkg/package.json
Labels: kind/bug, area/dependencies, version/patch, area/polyglotpkg

#322 chore: Updated with latest `branch` strategies
  .github/release-drafter.yml
Labels: version/minor, kind/skip-changelog, area/build, kind/build

#326 [vrotsc] (#314) Fixed tests
  typescript/vrotsc/e2e/cases/canvas-items/complex.wf.ts
  typescript/vrotsc/e2e/cases/canvas-items/decision-edge-2.wf.ts
  typescript/vrotsc/e2e/cases/canvas-items/decision-edge.wf.ts
  typescript/vrotsc/e2e/cases/canvas-items/decision-happy.wf.ts
  typescript/vrotsc/e2e/cases/canvas-items/root-default-first.wf.ts
  typescript/vrotsc/e2e/cases/canvas-items/root-when-set.wf.ts
  typescript/vrotsc/e2e/cases/canvas-items/waiting-timer-edge-2.wf.ts
  typescript/vrotsc/e2e/cases/canvas-items/waiting-timer-edge.wf.ts
  typescript/vrotsc/e2e/cases/canvas-items/waiting-timer-happy.wf.ts
  typescript/vrotsc/e2e/cases/node_modules/@types/vrotsc-annotations/index.d.ts
  typescript/vrotsc/e2e/expect/canvas-items/workflows/VMware/PSCoE/Complex.element_info.xml
  typescript/vrotsc/e2e/expect/canvas-items/workflows/VMware/PSCoE/Complex.xml
  typescript/vrotsc/e2e/expect/canvas-items/workflows/VMware/PSCoE/Decision Edge 2.element_info.xml
  typescript/vrotsc/e2e/expect/canvas-items/workflows/VMware/PSCoE/Decision Edge 2.xml
  typescript/vrotsc/e2e/expect/canvas-items/workflows/VMware/PSCoE/Decision Edge.element_info.xml
  typescript/vrotsc/e2e/expect/canvas-items/workflows/VMware/PSCoE/Decision Edge.xml
  typescript/vrotsc/e2e/expect/canvas-items/workflows/VMware/PSCoE/Decision Happy.element_info.xml
  typescript/vrotsc/e2e/expect/canvas-items/workflows/VMware/PSCoE/Decision Happy.xml
  typescript/vrotsc/e2e/expect/canvas-items/workflows/VMware/PSCoE/Example Waiting Timer.xml
  typescript/vrotsc/e2e/expect/canvas-items/workflows/VMware/PSCoE/Root Default First.element_info.xml
  typescript/vrotsc/e2e/expect/canvas-items/workflows/VMware/PSCoE/Root Default First.xml
  typescript/vrotsc/e2e/expect/canvas-items/workflows/VMware/PSCoE/Root When Set.element_info.xml
  typescript/vrotsc/e2e/expect/canvas-items/workflows/VMware/PSCoE/Root When Set.xml
  typescript/vrotsc/e2e/expect/canvas-items/workflows/VMware/PSCoE/Waitin Timer Edge 2.element_info.xml
  typescript/vrotsc/e2e/expect/canvas-items/workflows/VMware/PSCoE/Waitin Timer Edge 2.xml
  typescript/vrotsc/e2e/expect/canvas-items/workflows/VMware/PSCoE/Waiting Timer Edge.element_info.xml
  typescript/vrotsc/e2e/expect/canvas-items/workflows/VMware/PSCoE/Waiting Timer Edge.xml
  typescript/vrotsc/e2e/expect/canvas-items/workflows/VMware/PSCoE/Waiting Timer Happy.element_info.xml
  typescript/vrotsc/e2e/expect/canvas-items/workflows/VMware/PSCoE/Waiting Timer Happy.xml
  vro-types/vrotsc-annotations/index.d.ts
Labels: kind/bug, lang/typescript, area/vrotsc, kind/skip-changelog, version/patch

#348 [vrotsc] (#340) Added a new canvas item for workflow end.
  docs/versions/latest/Components/Archetypes/typescript/Components/Workflows.md
  docs/versions/latest/Release.md
  typescript/vrotsc/e2e/cases/canvas-items/end-item-exception.wf.ts
  typescript/vrotsc/e2e/cases/canvas-items/end-item-happy.wf.ts
  typescript/vrotsc/e2e/cases/canvas-items/workflow.wf.ts
  typescript/vrotsc/e2e/cases/node_modules/@types/vrotsc-annotations/index.d.ts
  typescript/vrotsc/e2e/expect/canvas-items/workflows/VMware/PSCoE/Workflow End Exception.element_info.xml
  typescript/vrotsc/e2e/expect/canvas-items/workflows/VMware/PSCoE/Workflow End Exception.xml
  typescript/vrotsc/e2e/expect/canvas-items/workflows/VMware/PSCoE/Workflow End Happy.element_info.xml
  typescript/vrotsc/e2e/expect/canvas-items/workflows/VMware/PSCoE/Workflow End Happy.xml
  typescript/vrotsc/e2e/expect/canvas-items/workflows/VMware/PSCoE/Workflow Test.xml
  typescript/vrotsc/src/compiler/decorators.ts
  typescript/vrotsc/src/compiler/transformer/fileTransformers/workflow/decorators.ts
  typescript/vrotsc/src/compiler/transformer/fileTransformers/workflow/decorators/endItemDecoratorStrategy.ts
  vro-types/vrotsc-annotations/index.d.ts
Labels: area/vrotsc, version/minor, kind/feature

#346 [vrotsc, vrotsc-annotations] (#339) Added a new canvas item for Default Error Handler
  docs/versions/latest/Components/Archetypes/typescript/Components/Workflows.md
  docs/versions/latest/Release.md
  typescript/vrotsc/e2e/cases/canvas-items/complex.wf.ts
  typescript/vrotsc/e2e/cases/canvas-items/decision-edge-2.wf.ts
  typescript/vrotsc/e2e/cases/canvas-items/decision-edge.wf.ts
  typescript/vrotsc/e2e/cases/canvas-items/decision-happy.wf.ts
  typescript/vrotsc/e2e/cases/canvas-items/default-error-handler-custom-item.wf.ts
  typescript/vrotsc/e2e/cases/canvas-items/default-error-handler-happy.wf.ts
  typescript/vrotsc/e2e/cases/canvas-items/root-default-first.wf.ts
  typescript/vrotsc/e2e/cases/canvas-items/root-when-set.wf.ts
  typescript/vrotsc/e2e/cases/canvas-items/waiting-timer-edge-2.wf.ts
  typescript/vrotsc/e2e/cases/canvas-items/waiting-timer-edge.wf.ts
  typescript/vrotsc/e2e/cases/canvas-items/waiting-timer-happy.wf.ts
  typescript/vrotsc/e2e/cases/canvas-items/workflow.wf.ts
  typescript/vrotsc/e2e/cases/node_modules/@types/vrotsc-annotations/index.d.ts
  typescript/vrotsc/e2e/expect/canvas-items/workflows/VMware/PSCoE/Default Error Handler Custom Item.element_info.xml
  typescript/vrotsc/e2e/expect/canvas-items/workflows/VMware/PSCoE/Default Error Handler Custom Item.xml
  typescript/vrotsc/e2e/expect/canvas-items/workflows/VMware/PSCoE/Default Error Handler Happy.element_info.xml
  typescript/vrotsc/e2e/expect/canvas-items/workflows/VMware/PSCoE/Default Error Handler Happy.xml
  typescript/vrotsc/e2e/expect/canvas-items/workflows/VMware/PSCoE/Waiting Timer Edge.xml
  typescript/vrotsc/e2e/expect/canvas-items/workflows/VMware/PSCoE/Workflow Test.xml
  typescript/vrotsc/src/compiler/decorators.ts
  typescript/vrotsc/src/compiler/transformer/fileTransformers/workflow/decorators.ts
  typescript/vrotsc/src/compiler/transformer/fileTransformers/workflow/decorators/defaultErrorHandlerDecoratorStrategy.ts
  typescript/vrotsc/src/compiler/transformer/fileTransformers/workflow/decorators/helpers/presentation.ts
  vro-types/vrotsc-annotations/index.d.ts
Labels: dco-required, area/vrotsc, version/minor, kind/feature

#358 [vrotsc,vrotsc-annotations] (#335) Workflow canvas action item
  docs/versions/latest/Components/Archetypes/typescript/Components/Workflows.md
  docs/versions/latest/Release.md
  typescript/vrotsc/e2e/cases/canvas-items/action-edge.wf.ts
  typescript/vrotsc/e2e/cases/canvas-items/action-happy.wf.ts
  typescript/vrotsc/e2e/cases/node_modules/@types/vrotsc-annotations/index.d.ts
  typescript/vrotsc/e2e/expect/canvas-items/workflows/VMware/PSCoE/Action Edge.element_info.xml
  typescript/vrotsc/e2e/expect/canvas-items/workflows/VMware/PSCoE/Action Edge.xml
  typescript/vrotsc/e2e/expect/canvas-items/workflows/VMware/PSCoE/Action Happy Path.element_info.xml
  typescript/vrotsc/e2e/expect/canvas-items/workflows/VMware/PSCoE/Action Happy Path.xml
  typescript/vrotsc/src/compiler/decorators.ts
  typescript/vrotsc/src/compiler/transformer/fileTransformers/workflow/decorators.ts
  typescript/vrotsc/src/compiler/transformer/fileTransformers/workflow/decorators/actionItemDecoratorStrategy.ts
  typescript/vrotsc/src/compiler/transformer/fileTransformers/workflow/decorators/helpers/sourceFile.ts
  vro-types/vrotsc-annotations/index.d.ts
Labels: area/vro-types, area/vrotsc, version/minor, kind/feature

#356 [ecmascript] (#353) Fix problem with Size in a Map Object when Setting a Value in it
  packages/ecmascript/src/Map.ts
  packages/ecmascript/src/Set.ts
Labels: kind/bug, lang/typescript, version/minor, area/ecmascript

#360 [polyglot] Add support for python 3.10 runtime in Aria Orchestrator
  docs/versions/latest/Release.md
  typescript/polyglotpkg/src/lib/model.ts
  typescript/polyglotpkg/src/lib/utils.ts
  typescript/polyglotpkg/src/packager.ts
Labels: dco-required

#349 [vrotsc-annotations] (#347) Add aria types to vrotsc-annotations
  docs/versions/latest/Release.md
  vro-types/o11n-plugin-aria/index.d.ts
Labels: kind/enhancement, dco-required, area/vro-types, version/minor, pr/help-needed

#363 [vrotsc] (#318) Item presentation is now better structured (tree)
  docs/versions/latest/Release.md
  package-installer/src/main/java/com/vmware/pscoe/iac/installer/Installer.java
  typescript/vrotsc/e2e/cases/canvas-items/async-workflow.wf.ts
  typescript/vrotsc/e2e/cases/canvas-items/complex.wf.ts
  typescript/vrotsc/e2e/cases/canvas-items/decision-edge.wf.ts
  typescript/vrotsc/e2e/cases/canvas-items/default-error-handler-custom-item.wf.ts
  typescript/vrotsc/e2e/cases/canvas-items/end-item-exception.wf.ts
  typescript/vrotsc/e2e/cases/canvas-items/end-item-happy.wf.ts
  typescript/vrotsc/e2e/cases/canvas-items/root-default-first.wf.ts
  typescript/vrotsc/e2e/cases/canvas-items/root-when-set.wf.ts
  typescript/vrotsc/e2e/cases/canvas-items/waiting-timer-edge-2.wf.ts
  typescript/vrotsc/e2e/cases/canvas-items/waiting-timer-edge.wf.ts
  typescript/vrotsc/e2e/expect/all-content/workflows/MyOrg/MyProject/Test Workflow 1.xml
  typescript/vrotsc/e2e/expect/canvas-items/workflows/VMware/PSCoE/Action Edge.xml
  typescript/vrotsc/e2e/expect/canvas-items/workflows/VMware/PSCoE/Action Happy Path.xml
  typescript/vrotsc/e2e/expect/canvas-items/workflows/VMware/PSCoE/Async Workflow Test.xml
  typescript/vrotsc/e2e/expect/canvas-items/workflows/VMware/PSCoE/Complex.xml
  typescript/vrotsc/e2e/expect/canvas-items/workflows/VMware/PSCoE/Decision Edge 2.xml
  typescript/vrotsc/e2e/expect/canvas-items/workflows/VMware/PSCoE/Decision Edge.xml
  typescript/vrotsc/e2e/expect/canvas-items/workflows/VMware/PSCoE/Decision Happy.xml
  typescript/vrotsc/e2e/expect/canvas-items/workflows/VMware/PSCoE/Default Error Handler Custom Item.xml
  typescript/vrotsc/e2e/expect/canvas-items/workflows/VMware/PSCoE/Default Error Handler Happy.xml
  typescript/vrotsc/e2e/expect/canvas-items/workflows/VMware/PSCoE/Root Default First.xml
  typescript/vrotsc/e2e/expect/canvas-items/workflows/VMware/PSCoE/Root When Set.xml
  typescript/vrotsc/e2e/expect/canvas-items/workflows/VMware/PSCoE/Scheduled Workflow Test.xml
  typescript/vrotsc/e2e/expect/canvas-items/workflows/VMware/PSCoE/Waitin Timer Edge 2.element_info.xml
  typescript/vrotsc/e2e/expect/canvas-items/workflows/VMware/PSCoE/Waitin Timer Edge 2.xml
  typescript/vrotsc/e2e/expect/canvas-items/workflows/VMware/PSCoE/Waiting Timer Edge.xml
  typescript/vrotsc/e2e/expect/canvas-items/workflows/VMware/PSCoE/Waiting Timer Happy.xml
  typescript/vrotsc/e2e/expect/canvas-items/workflows/VMware/PSCoE/Workflow End Exception.xml
  typescript/vrotsc/e2e/expect/canvas-items/workflows/VMware/PSCoE/Workflow End Happy.xml
  typescript/vrotsc/e2e/expect/canvas-items/workflows/VMware/PSCoE/Workflow Test.xml
  typescript/vrotsc/e2e/expect/workflow/workflows/PS CoE/Test Workflows/Test Workflow 2.xml
  typescript/vrotsc/e2e/expect/workflow/workflows/PS CoE/Test Workflows/Test Workflow 3.xml
  typescript/vrotsc/e2e/expect/workflow/workflows/PS CoE/Test Workflows/Test Workflow 4.xml
  typescript/vrotsc/e2e/expect/workflow/workflows/PS CoE/Test Workflows/Test Workflow 5.xml
  typescript/vrotsc/e2e/expect/workflow/workflows/PSCoE/vRO TypeScript/TestWorkflow1.xml
  typescript/vrotsc/e2e/expect/workflow/workflows/PSCoE/vRO TypeScript/sub/TestWorkflow2.xml
  typescript/vrotsc/e2e/expect/workflow/workflows/PSCoE/vRO TypeScript/sub/sub2/TestWorkflow3.xml
  typescript/vrotsc/src/compiler/transformer/fileTransformers/workflow/decorators/actionItemDecoratorStrategy.ts
  typescript/vrotsc/src/compiler/transformer/fileTransformers/workflow/decorators/asyncWorkflowItemDecoratorStrategy.ts
  typescript/vrotsc/src/compiler/transformer/fileTransformers/workflow/decorators/canvasItemDecoratorStrategy.ts
  typescript/vrotsc/src/compiler/transformer/fileTransformers/workflow/decorators/decisionItemDecoratorStrategy.ts
  typescript/vrotsc/src/compiler/transformer/fileTransformers/workflow/decorators/defaultErrorHandlerDecoratorStrategy.ts
  typescript/vrotsc/src/compiler/transformer/fileTransformers/workflow/decorators/endItemDecoratorStrategy.ts
  typescript/vrotsc/src/compiler/transformer/fileTransformers/workflow/decorators/helpers/graph.ts
  typescript/vrotsc/src/compiler/transformer/fileTransformers/workflow/decorators/itemDecoratorStrategy.ts
  typescript/vrotsc/src/compiler/transformer/fileTransformers/workflow/decorators/rootItemDecoratorStrategy.ts
  typescript/vrotsc/src/compiler/transformer/fileTransformers/workflow/decorators/scheduledWorkflowItemDecoratorStrategy.ts
  typescript/vrotsc/src/compiler/transformer/fileTransformers/workflow/decorators/waitingTimerItemDecoratorStrategy.ts
  typescript/vrotsc/src/compiler/transformer/fileTransformers/workflow/decorators/workflowItemDecoratorStrategy.ts
  typescript/vrotsc/src/compiler/transformer/fileTransformers/workflow/presentation.ts
Labels: kind/enhancement, area/vrotsc, version/minor, kind/feature

#366 [vropkg] (#365) Support for transforming `for each` statements when pulling
  docs/versions/latest/Release.md
  typescript/vropkg/src/parse/transformers.ts
  typescript/vropkg/src/parse/util.ts
Labels: kind/enhancement, lang/typescript, area/vropkg, version/minor, kind/feature
