Repository vmware/build-tools-for-vmware-aria, pull requests merged in 2024-10, with the labels that each got.

#435 [vrdt,packages] (#427) Restore missing `exec` package required for `Run vRO Action` VScode command
  docs/versions/latest/Release.md
  maven/repository/pom.xml
  packages/exec/.gitignore
  packages/exec/pom.xml
  packages/exec/src/main/resources/Workflow/PSCoE/Library/vRO/Exec/Run Script.element_info.xml
  packages/exec/src/main/resources/Workflow/PSCoE/Library/vRO/Exec/Run Script.xml
  packages/exec/src/main/resources/dunes-meta-inf.xml
  packages/pom.xml
Labels: kind/bug, area/vrdt, version/patch

#437 [typescript/polyglotpkg] Add new PowerShell and PowerCLI runtime options
  docs/versions/latest/Components/Archetypes/Polyglot/General/Project Structure.md
  typescript/polyglotpkg/src/lib/model.ts
  typescript/polyglotpkg/test/e2e/e2e.test.ts
  typescript/polyglotpkg/test/e2e/powercli_12_powershell_7_4/handler.debug.yaml
  typescript/polyglotpkg/test/e2e/powercli_12_powershell_7_4/package.json
  typescript/polyglotpkg/test/e2e/powercli_12_powershell_7_4/src/handler.ps1
  typescript/polyglotpkg/test/e2e/powercli_13_powershell_7_4/handler.debug.yaml
  typescript/polyglotpkg/test/e2e/powercli_13_powershell_7_4/package.json
  typescript/polyglotpkg/test/e2e/powercli_13_powershell_7_4/src/handler.ps1
  typescript/polyglotpkg/test/e2e/powershell_7_4/handler.debug.yaml
  typescript/polyglotpkg/test/e2e/powershell_7_4/package.json
  typescript/polyglotpkg/test/e2e/powershell_7_4/src/handler.ps1
Labels: lang/typescript, version/minor, version/major, kind/feature, area/polyglotpkg

#439 (docs) Added missing release notes for PR 437
  docs/versions/latest/Release.md
Labels: area/documentation, version/minor, kind/skip-changelog, kind/documentation

#441 [maven-plugin, abx] [Task 430] Bug Fix : Pushing Fails when Pushing ABX action.
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/AbxPackageStore.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/AbxReleaseManager.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/model/abx/Abx.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/model/abx/AbxAction.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/model/abx/AbxActionVersion.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/model/abx/AbxDefinition.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/model/abx/AbxPackageDescriptor.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/model/abx/Platform.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/rest/RestClientVraNg.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/rest/RestClientVraNgPrimitive.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/store/vrang/VraNgSubscriptionStore.java
  common/artifact-manager/src/test/java/com/vmware/pscoe/iac/artifact/helpers/stubs/AbxActionMockBuilder.java
  common/artifact-manager/src/test/java/com/vmware/pscoe/iac/artifact/rest/vrang/RestClientVraNgPrimitiveTest.java
  common/artifact-manager/src/test/java/com/vmware/pscoe/iac/artifact/store/vrang/VraNgSubscriptionStoreTest.java
  maven/archetypes/polyglot/src/main/resources/archetype-resources/bundle.zip
  maven/archetypes/polyglot/src/main/resources/archetype-resources/package.json
  maven/plugins/abx/src/main/java/com/vmware/pscoe/maven/plugins/PackageMojo.java
Labels: kind/bug, lang/java, area/abx, version/minor, area/maven

#443 [documentation] (#430) Updated documentation
  docs/versions/latest/Release.md
Labels: area/documentation, kind/skip-changelog

#436 [artifact-manager,installer,maven] (#341) Add `vrealize:clean` mvn phase for `vra-ng` projects and a `clean` option for Installer
  .github/linters/sun_checks.xml
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/VraNgPackageStore.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/configuration/ConfigurationVraNg.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/model/vrang/Identifiable.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/model/vrang/VraNgApprovalPolicy.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/model/vrang/VraNgBlueprint.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/model/vrang/VraNgCatalogEntitlement.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/model/vrang/VraNgCatalogItem.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/model/vrang/VraNgContentSharingPolicy.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/model/vrang/VraNgContentSource.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/model/vrang/VraNgContentSourceBase.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/model/vrang/VraNgCustomForm.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/model/vrang/VraNgCustomResource.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/model/vrang/VraNgDay2ActionsPolicy.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/model/vrang/VraNgDeploymentLimitPolicy.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/model/vrang/VraNgLeasePolicy.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/model/vrang/VraNgPackageAdapter.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/model/vrang/VraNgPolicy.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/model/vrang/VraNgProject.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/model/vrang/VraNgPropertyGroup.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/model/vrang/VraNgRegionMapping.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/model/vrang/VraNgResourceAction.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/model/vrang/VraNgResourceQuotaPolicy.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/model/vrang/VraNgSubscription.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/model/vrang/VraNgWorkflow.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/model/vrang/objectmapping/VraNgCloudAccountTag.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/model/vrang/objectmapping/package-info.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/rest/RestClientVraNg.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/rest/RestClientVraNgPrimitive.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/store/vrang/AbstractVraNgDeleteStore.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/store/vrang/AbstractVraNgRegionalStore.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/store/vrang/AbstractVraNgStore.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/store/vrang/IVraNgStore.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/store/vrang/VraNgApprovalPolicyStore.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/store/vrang/VraNgBlueprintStore.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/store/vrang/VraNgCatalogItemStore.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/store/vrang/VraNgCatalogItemStore812.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/store/vrang/VraNgContentSharingPolicyStore.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/store/vrang/VraNgContentSourceStore.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/store/vrang/VraNgCustomResourceStore.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/store/vrang/VraNgDay2ActionsPolicyStore.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/store/vrang/VraNgDeploymentLimitPolicyStore.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/store/vrang/VraNgEntitlementStore.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/store/vrang/VraNgFlavorMappingStore.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/store/vrang/VraNgImageMappingStore.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/store/vrang/VraNgLeasePolicyStore.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/store/vrang/VraNgPropertyGroupStore.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/store/vrang/VraNgRegionalContentStore.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/store/vrang/VraNgRegionalContentUtils.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/store/vrang/VraNgResourceActionStore.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/store/vrang/VraNgResourceQuotaPolicyStore.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/store/vrang/VraNgStorageProfileStore.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/store/vrang/VraNgSubscriptionStore.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/store/vrang/VraNgTypeStoreFactory.java
  docs/archive/doc/markdown/use-bundle-installer.md
  docs/versions/latest/Components/Archetypes/General/Goals/Vrealize Clean.md
  docs/versions/latest/Components/Local/Installer/General/Components/Local/Installer/Components/Install Workflow.md
  docs/versions/latest/Release.md
  package-installer/src/main/java/com/vmware/pscoe/iac/installer/Installer.java
  typescript/vrotsc/src/compiler/transformer/fileTransformers/workflow/workflow.ts
Labels: lang/java, area/artifact-manager, area/installer, version/minor, area/maven, kind/feature

#446 [build, tests] (#302) Enable unit test code coverage as a build step for the artifact-manager
  common/artifact-manager/pom.xml
  docs/versions/latest/Release.md
Labels: lang/java, version/minor, area/tests, area/build, kind/feature

#450 [vrdt,packages] (vrdt #159) Restore System and Server logs in vRDT OUTPUT during `Run vRO Action` command
  docs/versions/latest/Release.md
  packages/exec/src/main/resources/Workflow/PSCoE/Library/vRO/Exec/Run Script.xml
Labels: kind/bug, area/vrdt, version/patch, kind/feature

#384 [area/documentation] (#162) Minimal infrastructure setup update
  .gitignore
  docs/versions/latest/General/Getting Started/Setting Up Local Environment.md
  infrastructure/.m2/settings.xml
  infrastructure/docker-compose.yml
  infrastructure/etc/hosts
  infrastructure/gitlab-runner/Dockerfile
  infrastructure/iac-for-vrealize-configurator.sh
  infrastructure/nginx/conf.d/main.conf
  infrastructure/nginx/conf.d/nginx.conf
  infrastructure/nginx/html/home/css/style.css
  infrastructure/nginx/html/home/help.html
  infrastructure/nginx/html/home/images/artifactory.png
  infrastructure/nginx/html/home/images/beige_paper.png
  infrastructure/nginx/html/home/images/binding_light/binding_light.png
  infrastructure/nginx/html/home/images/binding_light/binding_light_@2X.png
  infrastructure/nginx/html/home/images/cloud-client-logo.png
  infrastructure/nginx/html/home/images/gitlab.png
  infrastructure/nginx/html/home/images/help.png
  infrastructure/nginx/html/home/images/maven-logo.png
  infrastructure/nginx/html/home/images/vmware-logo.png
  infrastructure/nginx/html/home/images/vro-logo.jpg
  infrastructure/nginx/html/home/images/vscode-icon.png
  infrastructure/nginx/html/home/images/workstation-logo.png
  infrastructure/nginx/html/home/index.html
  infrastructure/nginx/html/home/package.json
  infrastructure/nginx/html/home/scripts/helpPage.js
  infrastructure/nginx/html/home/scripts/indexPage.js
  infrastructure/nginx/nginx.conf
  infrastructure/readme.md
  infrastructure/ubuntu/Dockerfile
  infrastructure/ubuntu/entrypoint
Labels: area/documentation, dco-required, version/minor, area/build, kind/feature
