Repository vmware/build-tools-for-vmware-aria, pull requests merged in 2024-09, with the labels that each got.

#399 [vrotsc] (#301) Improve error messages for Policy Template, Workflow and Configuration files with incorrect extensions
  docs/versions/latest/Release.md
  typescript/vrotsc/src/compiler/transformer/fileTransformers/action.ts
  typescript/vrotsc/src/compiler/transformer/fileTransformers/resource.ts
  typescript/vrotsc/src/compiler/transformer/helpers/checkActionForMisplacedClassDecorators.ts
  typescript/vrotsc/src/compiler/transformer/helpers/checkResourceForMisplacedDecorators.ts
Labels: kind/enhancement, lang/typescript, area/vrotsc, version/patch, triage/needed, kind/feature

#408 [github] Update upload-artifact action version to 4
  .github/workflows/build.yml
Labels: kind/bug, kind/skip-changelog, version/patch, priority/critical, kind/build, area/github

#409 (#405) Bump license-maven-plugin from 2.0.1 to 2.4.0
  README.md
  maven/base-package/pom.xml
  pom.xml
Labels: area/dependencies, version/patch, area/maven, kind/dependencies, kind/feature

#411 [ecmascript] (402) Remove unused function `Export.from` from class `Module`
  packages/ecmascript/src/Module.ts
Labels: kind/enhancement, lang/typescript, version/patch, area/ecmascript

#414 [github] (381) Reverting temporary changes to sun_checks.yml, codeql-java.yml
  .github/linters/sun_checks.xml
  .github/workflows/codeql-java.yml
Labels: kind/skip-changelog, version/patch, area/github

#413 [vrotsc-types] (#347) Add remaining Aria plugin types definitions
  docs/versions/latest/Release.md
  vro-types/o11n-plugin-aria/index.d.ts
Labels: kind/enhancement, area/vro-types, version/patch

#418 [ecmascript] (#417) Fix `exports` failure during TS Workflow execution
  docs/versions/latest/Release.md
  packages/ecmascript/src/Module.ts
Labels: kind/bug, lang/typescript, version/patch, area/ecmascript

#392 [polyglotpkg] (#388) Add node18 and node20 as polyglot runtimes
  docs/versions/latest/Components/Archetypes/Polyglot/General/Project Structure.md
  docs/versions/latest/Release.md
  typescript/polyglotpkg/src/lib/model.ts
  typescript/polyglotpkg/src/lib/utils.ts
  typescript/polyglotpkg/src/packager.ts
Labels: lang/typescript, version/minor, kind/feature, pr/help-needed, area/polyglotpkg

#421 [vropkg] (#415) `for each` transformer now respects comments and will not work in them
  docs/versions/latest/Release.md
  typescript/vropkg/src/parse/transformers.ts
Labels: kind/bug, lang/typescript, area/vropkg, version/patch

#419 [vro-types] Update ZipWriter class interface
  docs/versions/latest/Release.md
  vro-types/o11n-core/index.d.ts
Labels: kind/enhancement, dco-required, area/vro-types, version/patch

#420 [artifact-manager] (#331) Fix CRITICAL and HIGH level vulnerabilities
  common/artifact-manager/pom.xml
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/configuration/Configuration.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/configuration/ConfigurationException.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/configuration/ConfigurationSsh.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/configuration/ConfigurationVraNg.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/configuration/ConfigurationVro.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/configuration/ConfigurationVrops.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/rest/RestClient.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/rest/RestClientCs.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/rest/RestClientFactory.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/rest/RestClientVraNgPrimitive.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/rest/RestClientVraPrimitive.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/rest/RestClientVro.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/rest/RestClientVroBasicAuthNInterceptor.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/rest/RestClientVrops.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/rest/RestClientVropsBasicAuthInterceptor.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/store/vrang/VraNgCustomResourceStore.java
  common/artifact-manager/src/test/java/com/vmware/pscoe/iac/artifact/helpers/vrang/RestClientVraNgPrimitiveTestDouble.java
  docs/versions/latest/Release.md
  maven/plugins/vrealize/src/main/java/com/vmware/pscoe/maven/plugins/PushMojo.java
  maven/plugins/vrealize/src/main/java/com/vmware/pscoe/maven/plugins/package-info.java
Labels: kind/bug, lang/java, area/artifact-manager, version/minor, kind/feature, kind/security

#425 [area/github] (#323) Update GitHub issue contact link
  .github/ISSUE_TEMPLATE/config.yml
Labels: kind/skip-changelog, area/github

#424 [vrotsc] (#344) Refactored Action transformer
  typescript/vrotsc/src/compiler/transformer/fileTransformers/action.ts
Labels: lang/typescript, area/vrotsc, version/minor, kind/skip-changelog, kind/refactor, kind/feature

#428 [build] Chore/optimize build for pull request
  .github/workflows/build.yml
  .github/workflows/codeql-java.yml
  .github/workflows/codeql-js.yml
  .github/workflows/super-linter.yml
Labels: dco-required, kind/skip-changelog, area/build, kind/build

#432 build(deps-dev): bump rollup to 3.29.5 in /typescript/vropkg
  typescript/vropkg/package-lock.json
  typescript/vropkg/package.json
Labels: area/dependencies, lang/javascript

#434 [build] Optimize build process to not bundle Java 21 artifacts
  .github/workflows/build.yml
Labels: kind/skip-changelog, area/build, kind/build

#400 [vrotsc,vrotsc-annotations] (#336) Add Workflow Canvas Item for User Interaction Component
  docs/versions/latest/Components/Archetypes/typescript/Components/Workflows.md
  docs/versions/latest/Components/Archetypes/typescript/Components/images/Canvas_Item_Complex_Workflow.png
  docs/versions/latest/Components/Archetypes/typescript/Components/images/Canvas_Item_Default_Error_Handler_Workflow.png
  docs/versions/latest/Components/Archetypes/typescript/Components/images/Decision_Item_Canvas_Item_Workflow.png
  docs/versions/latest/Components/Archetypes/typescript/Components/images/Scheduled_Workflow_Canvas_Item_Workflow.png
  docs/versions/latest/Components/Archetypes/typescript/Components/images/User_Interaction_Canvas_Item_Workflow.png
  docs/versions/latest/Components/Archetypes/typescript/Components/images/Waiting_Timer_Canvas_Item_Workflow.png
  docs/versions/latest/Release.md
  typescript/vrotsc/e2e/cases/User Interaction_input_form_userInteraction1Enter.form.json
  typescript/vrotsc/e2e/cases/User Interaction_input_form_userInteraction2Enter.form.json
  typescript/vrotsc/e2e/cases/User Interaction_input_form_userInteractionEnter.form.json
  typescript/vrotsc/e2e/cases/canvas-items/default-error-handler-custom-item.wf.ts
  typescript/vrotsc/e2e/cases/canvas-items/default-error-handler-happy.wf.ts
  typescript/vrotsc/e2e/cases/canvas-items/user-interaction.wf.ts
  typescript/vrotsc/e2e/cases/node_modules/@types/vrotsc-annotations/index.d.ts
  typescript/vrotsc/e2e/expect/canvas-items/workflows/VMware/PSCoE/User Interaction.element_info.xml
  typescript/vrotsc/e2e/expect/canvas-items/workflows/VMware/PSCoE/User Interaction.xml
  typescript/vrotsc/e2e/expect/canvas-items/workflows/VMware/PSCoE/User Interaction_input_form_item2.form.json
  typescript/vrotsc/e2e/expect/canvas-items/workflows/VMware/PSCoE/User Interaction_input_form_item3.form.json
  typescript/vrotsc/src/compiler/decorators.ts
  typescript/vrotsc/src/compiler/transformer/fileTransformers/workflow/decorators.ts
  typescript/vrotsc/src/compiler/transformer/fileTransformers/workflow/decorators/actionItemDecoratorStrategy.ts
  typescript/vrotsc/src/compiler/transformer/fileTransformers/workflow/decorators/asyncWorkflowItemDecoratorStrategy.ts
  typescript/vrotsc/src/compiler/transformer/fileTransformers/workflow/decorators/base/baseItemDecoratorStrategy.ts
  typescript/vrotsc/src/compiler/transformer/fileTransformers/workflow/decorators/base/canvasItemDecoratorStrategy.ts
  typescript/vrotsc/src/compiler/transformer/fileTransformers/workflow/decorators/decisionItemDecoratorStrategy.ts
  typescript/vrotsc/src/compiler/transformer/fileTransformers/workflow/decorators/defaultErrorHandlerDecoratorStrategy.ts
  typescript/vrotsc/src/compiler/transformer/fileTransformers/workflow/decorators/endItemDecoratorStrategy.ts
  typescript/vrotsc/src/compiler/transformer/fileTransformers/workflow/decorators/helpers/graph.ts
  typescript/vrotsc/src/compiler/transformer/fileTransformers/workflow/decorators/helpers/sourceFile.ts
  typescript/vrotsc/src/compiler/transformer/fileTransformers/workflow/decorators/itemDecoratorStrategy.ts
  typescript/vrotsc/src/compiler/transformer/fileTransformers/workflow/decorators/rootItemDecoratorStrategy.ts
  typescript/vrotsc/src/compiler/transformer/fileTransformers/workflow/decorators/scheduledWorkflowItemDecoratorStrategy.ts
  typescript/vrotsc/src/compiler/transformer/fileTransformers/workflow/decorators/userInteractionDecoratorStrategy.ts
  typescript/vrotsc/src/compiler/transformer/fileTransformers/workflow/decorators/waitingTimerItemDecoratorStrategy.ts
  typescript/vrotsc/src/compiler/transformer/fileTransformers/workflow/decorators/workflowItemDecoratorStrategy.ts
  typescript/vrotsc/src/compiler/transformer/fileTransformers/workflow/presentation.ts
  typescript/vrotsc/src/compiler/transformer/fileTransformers/workflow/workflow.ts
  vro-types/vrotsc-annotations/index.d.ts
Labels: area/vro-types, lang/typescript, area/vrotsc, version/minor, kind/feature
