Repository vmware/build-tools-for-vmware-aria, pull requests merged in 2025-01, with the labels that each got.

#589 Add permissions to Github Workflows
  .github/workflows/build.yml
  .github/workflows/codeql-java.yml
  .github/workflows/codeql-js.yml
  .github/workflows/release.yml
  .github/workflows/super-linter.yml
  .github/workflows/trivy.yml
Labels: kind/skip-changelog, area/github

#592 [github] Add commit hashes to action dependencies
  .github/workflows/build.yml
  .github/workflows/release-drafter.yml
  .github/workflows/release.yml
  .github/workflows/trivy.yml
Labels: dco-required, kind/skip-changelog, kind/dependencies, area/github

#587 [tests] (#573) Add option to install type definitions for the unit test framework based on the project configuration
  docs/versions/latest/Release.md
  maven/plugins/common/src/main/java/com/vmware/pscoe/maven/plugins/AbstractInstallNodeDepsMojo.java
  typescript/vrotest/readme.md
Labels: kind/bug, lang/java, dco-required, version/minor, area/tests, kind/feature

#596 Update email in release.yml
  .github/workflows/release.yml
Labels: dco-required

#600 [artifact-manager) (#588) Policies import and export for multi tenant environments
  .github/linters/sun_checks.xml
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/aria/automation/rest/RestClientVraNg.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/aria/automation/rest/RestClientVraNgPrimitive.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/aria/automation/rest/models/VraNgPolicyTypes.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/aria/automation/store/VraNgApprovalPolicyStore.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/aria/automation/store/VraNgContentSharingPolicyStore.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/aria/automation/store/VraNgDay2ActionsPolicyStore.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/aria/automation/store/VraNgDeploymentLimitPolicyStore.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/aria/automation/store/VraNgLeasePolicyStore.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/aria/automation/store/VraNgResourceQuotaPolicyStore.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/configuration/Configuration.java
  common/artifact-manager/src/test/java/com/vmware/pscoe/iac/artifact/aria/automation/store/VraNgApprovalPolicyStoreTest.java
  common/artifact-manager/src/test/java/com/vmware/pscoe/iac/artifact/aria/automation/store/VraNgContentSharingPolicyStoreTest.java
  common/artifact-manager/src/test/java/com/vmware/pscoe/iac/artifact/aria/automation/store/VraNgDay2ActionsPolicyStoreTest.java
  common/artifact-manager/src/test/java/com/vmware/pscoe/iac/artifact/aria/automation/store/VraNgDeploymentLimitPolicyStoreTest.java
  common/artifact-manager/src/test/java/com/vmware/pscoe/iac/artifact/aria/automation/store/VraNgLeasePolicyStoreTest.java
  common/artifact-manager/src/test/java/com/vmware/pscoe/iac/artifact/aria/automation/store/VraNgResourceQuotaPolicyStoreTest.java
  docs/versions/latest/Release.md
Labels: kind/bug, lang/java, area/artifact-manager, version/minor
