Repository vmware/build-tools-for-vmware-aria, pull requests merged in 2025-05, with the labels that each got.

#710 Refactor/305 restructure abx components
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/PackageStoreFactory.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/aria/automation/configuration/ConfigurationAbx.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/aria/automation/models/abx/Abx.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/aria/automation/models/abx/AbxAction.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/aria/automation/models/abx/AbxActionVersion.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/aria/automation/models/abx/AbxConstant.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/aria/automation/models/abx/AbxPackageContent.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/aria/automation/models/abx/AbxPackageDescriptor.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/aria/automation/models/abx/Platform.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/aria/automation/models/abx/package-info.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/aria/automation/rest/RestClientVraNg.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/aria/automation/rest/RestClientVraNgPrimitive.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/aria/automation/rest/package-info.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/aria/automation/store/AbxPackageStore.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/aria/automation/store/VraNgSubscriptionStore.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/aria/automation/utils/AbxReleaseManager.java
  common/artifact-manager/src/test/java/com/vmware/pscoe/iac/artifact/aria/automation/rest/RestClientVraNgPrimitiveTest.java
  common/artifact-manager/src/test/java/com/vmware/pscoe/iac/artifact/aria/automation/store/VraNgSubscriptionStoreTest.java
  common/artifact-manager/src/test/java/com/vmware/pscoe/iac/artifact/helpers/stubs/AbxActionMockBuilder.java
  common/artifact-manager/src/test/java/com/vmware/pscoe/iac/artifact/helpers/vrang/RestClientVraNgPrimitiveTestDouble.java
  maven/plugins/common/src/main/java/com/vmware/pscoe/maven/plugins/AbstractIacMojo.java
  maven/plugins/vrealize/src/main/java/com/vmware/pscoe/maven/plugins/ReleaseMojo.java
  package-installer/src/main/java/com/vmware/pscoe/iac/installer/Installer.java
Labels: kind/refactor

#721 [vro-scripting-api,vro-types] Improve type definitions of `ConfigurationElement`, `Properties`, and `Workflow` properties/functions
  docs/versions/latest/Release.md
  typescript/vro-scripting-api/src/api/ConfigurationElement.ts
  typescript/vro-scripting-api/src/api/Workflow.ts
  typescript/vro-scripting-api/src/api/WorkflowToken.ts
  vro-types/o11n-core/index.d.ts
Labels: kind/enhancement, area/vro-types, lang/typescript, area/vro-scripting-api, version/minor

#729 [build] Restore commit message linter check
  .github/linters/sun_checks.xml
Labels: kind/skip-changelog, version/patch, area/build

#720 [polyglotpkg, vropkg] (#693) Add support for polyglot custom environment
  docs/versions/latest/Components/Archetypes/Polyglot/General/Project Structure.md
  docs/versions/latest/Release.md
  maven/archetypes/polyglot/src/main/resources/META-INF/archetype-post-generate.groovy
  maven/archetypes/polyglot/src/main/resources/archetype-resources/src/resources/environments/environment.json.sample
  maven/archetypes/polyglot/src/main/resources/archetype-resources/src/template-nodejs/polyglot.json
  maven/archetypes/polyglot/src/main/resources/archetype-resources/src/template-powershell/polyglot.json
  maven/archetypes/polyglot/src/main/resources/archetype-resources/src/template-python/polyglot.json
  typescript/polyglotpkg/src/environments.ts
  typescript/polyglotpkg/src/lib/model.ts
  typescript/polyglotpkg/src/lib/utils.ts
  typescript/polyglotpkg/src/packager.ts
  typescript/polyglotpkg/src/strategies/nodejs.ts
  typescript/polyglotpkg/src/strategies/powershell.ts
  typescript/polyglotpkg/src/strategies/python.ts
  typescript/polyglotpkg/src/vro.ts
  typescript/polyglotpkg/test/e2e/e2e.test.ts
  typescript/polyglotpkg/test/e2e/powershell_7_4/handler.debug.yaml
  typescript/polyglotpkg/test/e2e/powershell_7_4/package.json
  typescript/polyglotpkg/test/e2e/powershell_7_4/src/handler.ps1
  typescript/vropkg/src/parse/flat.ts
  typescript/vropkg/src/parse/tree.ts
  typescript/vropkg/src/parse/util.ts
  typescript/vropkg/src/serialize/flat.ts
  typescript/vropkg/src/serialize/tree.ts
  typescript/vropkg/src/serialize/util.ts
  typescript/vropkg/src/types.ts
Labels: kind/enhancement, lang/typescript, area/vropkg, version/minor, kind/feature, area/polyglotpkg
