Repository vmware/build-tools-for-vmware-aria, pull requests merged in 2025-02, with the labels that each got.

#605 [documentation] Add missing curly brace in `User Interaction` Workflow example
  docs/versions/latest/Components/Archetypes/typescript/Components/Workflows.md
  docs/versions/latest/Release.md
Labels: kind/bug, kind/documentation

#610 [vrotest] (#590) Unit tests execution in Windows reports error
  docs/versions/latest/Release.md
  typescript/vrotest/src/run.ts
Labels: kind/bug, lang/typescript, version/patch

#613 [vro-types] (#612) Add new types to `o11n-plugin-activedirectory`
  docs/versions/latest/Release.md
  vro-types/o11n-plugin-activedirectory/index.d.ts
Labels: area/vro-types, lang/typescript, version/minor, kind/feature

#623 [dependencies] Remove unused `gulp-sourcemaps` dependency
  typescript/vrotsc/package-lock.json
  typescript/vrotsc/package.json
Labels: lang/javascript, kind/dependencies

#626 [*] Rename `Aria Automation` package files from `.vra-ng` to `vrang`
  README.md
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/model/PackageType.java
  docs/versions/latest/Release.md
  maven/assembly/src/main/resources/assemblies/iac-assembly.xml
  maven/base-package/pom.xml
  maven/base-package/vra-ng-package/pom.xml
  maven/plugins/common/src/main/java/com/vmware/pscoe/maven/plugins/AbstractIacMojo.java
  maven/plugins/vra-ng/src/main/resources/META-INF/plexus/components.xml
  maven/plugins/vrealize/src/main/java/com/vmware/pscoe/maven/plugins/ReleaseMojo.java
  package-installer/src/main/java/com/vmware/pscoe/iac/installer/Installer.java
Labels: kind/bug, version/minor

#627 [vro-scripting-api,vro-types] Add optional null output for `Server` class functions
  docs/versions/latest/Release.md
  typescript/vro-scripting-api/src/api/Server.ts
  typescript/vro-scripting-api/src/configurations.ts
  typescript/vro-scripting-api/src/resources.ts
  vro-types/o11n-core/index.d.ts
Labels: kind/enhancement, area/vro-types, lang/typescript, area/vro-scripting-api, version/patch

#634 [vrotsc] (#615) Fix incorrectly transpiled `DecisionItem` Workflow decorator
  docs/versions/latest/Release.md
  typescript/vrotsc/src/compiler/transformer/fileTransformers/workflow/decorators/decisionItemDecoratorStrategy.ts
Labels: kind/bug, area/vrotsc, version/patch
