Repository vmware/build-tools-for-vmware-aria, pull requests merged in 2025-10, with the labels that each got.

#885 [vrotsc] (#883) Fix transpilation of Workflow attributes with default value of type `Array/*`
  docs/Templates/Release.md
  docs/versions/latest/Components/Archetypes/typescript/Components/Workflows.md
  docs/versions/latest/Release.md
  docs/versions/v4.11.0/Release.md
  docs/versions/v4.12.0/Release.md
  typescript/vrotsc/e2e/cases/workflow/TestWorkflow7.wf.ts
  typescript/vrotsc/e2e/cases/workflow/TestWorkflow8.wf.ts
  typescript/vrotsc/e2e/expect/workflow/workflows/PS CoE/Test Workflows/Test Workflow 7.element_info.xml
  typescript/vrotsc/e2e/expect/workflow/workflows/PS CoE/Test Workflows/Test Workflow 7.xml
  typescript/vrotsc/e2e/expect/workflow/workflows/PS CoE/Test Workflows/Test Workflow 8.element_info.xml
  typescript/vrotsc/e2e/expect/workflow/workflows/PS CoE/Test Workflows/Test Workflow 8.xml
  typescript/vrotsc/e2e/expect/workflow/workflows/PS CoE/Test Workflows/Test Workflow 8_input_form_item2.form.json
  typescript/vrotsc/src/compiler/transformer/codeTransformers/attributes.ts
Labels: kind/bug, lang/typescript, area/vrotsc, version/patch

#870 [vropkg] (#839) Revert logging library rework that leads to multiple files being opened asynchronously
  typescript/vropkg/src/cleaner/definitionCleaner.ts
  typescript/vropkg/src/cli.ts
  typescript/vropkg/src/constants.ts
  typescript/vropkg/src/encoding.ts
  typescript/vropkg/src/logger.ts
  typescript/vropkg/src/packaging.ts
  typescript/vropkg/src/parse/flat.ts
  typescript/vropkg/src/parse/js.ts
  typescript/vropkg/src/parse/tree.ts
  typescript/vropkg/src/security.ts
  typescript/vropkg/src/serialize/flat.ts
  typescript/vropkg/src/serialize/js.ts
  typescript/vropkg/src/serialize/util.ts
Labels: kind/bug, os/windows, lang/typescript, area/vropkg, version/patch

#893 [ecmascript,vrotsc] Add shim for Array.prototype.includes
  docs/versions/latest/Components/Archetypes/typescript/General/Known Issues.md
  docs/versions/latest/Release.md
  maven/archetypes/ts-vra-ng/src/main/resources/archetype-resources/vro/tsconfig.json
  maven/archetypes/ts/src/main/resources/archetype-resources/tsconfig.json
  packages/ecmascript/src/Shims.ts
  packages/ecmascript/tsconfig.json
  typescript/vrotsc/e2e/cases/es6-shims/action1.ts
  typescript/vrotsc/e2e/expect/es6-shims/actions/action1.js
  typescript/vrotsc/e2e/expect/es6-shims/maps/action1.js.map
  typescript/vrotsc/src/compiler/config.ts
  typescript/vrotsc/src/compiler/transformer/codeTransformers/shims.ts
Labels: lang/typescript, area/vrotsc, version/minor, kind/feature, area/ecmascript
