Repository vmware/build-tools-for-vmware-aria, pull requests merged in 2025-06, with the labels that each got.

#733 [artifact-manager] (#694) Add support for customization of `Notification Scenarios` in Aria Automation
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/aria/automation/models/VraNgCloudAccount.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/aria/automation/models/VraNgScenario.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/aria/automation/models/VraNgSubscription.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/aria/automation/rest/RestClientVraNg.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/aria/automation/rest/RestClientVraNgPrimitive.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/aria/automation/store/VraNgDirs.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/aria/automation/store/VraNgScenarioStore.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/aria/automation/store/VraNgTypeStoreFactory.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/aria/automation/store/models/VraNgPackageContent.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/aria/automation/store/models/VraNgPackageDescriptor.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/aria/automation/store/models/VraNgPackageMemberType.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/aria/automation/store/models/package-info.java
  docs/versions/latest/Components/Archetypes/Polyglot/General/Project Structure.md
  docs/versions/latest/Components/Archetypes/vRA 8.x/General/Content.md
  docs/versions/latest/Components/Archetypes/vRA 8.x/General/Core Concepts.md
  docs/versions/latest/Components/Archetypes/vRA 8.x/General/Getting Started.md
  docs/versions/latest/Release.md
  maven/archetypes/vra-ng/src/main/resources/archetype-resources/content.yaml
Labels: kind/enhancement, area/artifact-manager, lang/typescript, version/minor, kind/feature

#763 [maven/archetypes] (#762) Proper paths to actions used in archetypes.
  maven/archetypes/actions/src/main/resources/archetype-resources/src/test/resources/__packageInPathFormat__/integration-service-1/SampleTests.js
  maven/archetypes/mixed/src/main/resources/archetype-resources/actions/src/test/resources/__packageInPathFormat__/integration-service-1/SampleTests.js
Labels: kind/bug

#766 [maven,github] Simplify build
  .github/workflows/build.yml
  README.md
  pom.xml
Labels: kind/skip-changelog, area/maven, kind/feature, area/github

#768 Increase deployment timeout to 6h
  pom.xml
Labels: kind/skip-changelog, area/build, area/maven
