Repository vmware/build-tools-for-vmware-aria, pull requests merged in 2025-03, with the labels that each got.

#640 [vro-types] Improve type definitions of `SSHSession` class members and functions
  docs/versions/latest/Release.md
  vro-types/o11n-plugin-ssh/index.d.ts
Labels: kind/enhancement, area/vro-types, lang/typescript, version/minor

#641 [maven/archetypes] Remove `vrealize` archetype
  docs/versions/latest/Release.md
  maven/archetypes/pom.xml
  maven/archetypes/vrealize/create.sh
  maven/archetypes/vrealize/pom.xml
  maven/archetypes/vrealize/src/main/resources/META-INF/archetype-post-generate.groovy
  maven/archetypes/vrealize/src/main/resources/META-INF/maven/archetype-metadata.xml
  maven/archetypes/vrealize/src/main/resources/archetype-resources/.editorconfig
  maven/archetypes/vrealize/src/main/resources/archetype-resources/.gitignore
  maven/archetypes/vrealize/src/main/resources/archetype-resources/pom.xml
  maven/archetypes/vrealize/src/main/resources/archetype-resources/release.sh
  maven/archetypes/vrealize/src/main/resources/archetype-resources/vro/actions/license_data/_license/template_header.txt.ftl
  maven/archetypes/vrealize/src/main/resources/archetype-resources/vro/actions/license_data/_license/template_license.txt.ftl
  maven/archetypes/vrealize/src/main/resources/archetype-resources/vro/actions/license_data/licenses.properties
  maven/archetypes/vrealize/src/main/resources/archetype-resources/vro/actions/pom.xml
  maven/archetypes/vrealize/src/main/resources/archetype-resources/vro/actions/src/main/resources/__packageInPathFormat__/integration-service-1/sample.js
  maven/archetypes/vrealize/src/main/resources/archetype-resources/vro/actions/src/test/resources/__packageInPathFormat__/integration-service-1/SampleTests.js
  maven/archetypes/vrealize/src/main/resources/archetype-resources/vro/workflows/pom.xml
  maven/archetypes/vrealize/src/main/resources/archetype-resources/vro/workflows/src/main/resources/__workflowsPath__/Install.element_info.xml
  maven/archetypes/vrealize/src/main/resources/archetype-resources/vro/workflows/src/main/resources/__workflowsPath__/Install.xml
  maven/archetypes/vrealize/src/main/resources/archetype-resources/vro/workflows/src/main/resources/dunes-meta-inf.xml
Labels: kind/bug, kind/enhancement, version/minor, version/major, area/maven

#659 [vrotsc] Apply formatting to the Generated JavaScript Code.
  docs/versions/latest/Release.md
  maven/repository/pom.xml
  typescript/vrotsc/.prettierrc
  typescript/vrotsc/package-lock.json
  typescript/vrotsc/package.json
  typescript/vrotsc/tsconfig.json
Labels: kind/bug, lang/javascript, lang/typescript, area/vrotsc, version/patch

#666 [maven/archetypes] Remove legacy archetype that is no longer supported
  README.md
  docs/versions/latest/Release.md
  maven/archetypes/vcd-ng-angular8/create.sh
  maven/archetypes/vcd-ng-angular8/pom.xml
  maven/archetypes/vcd-ng-angular8/sample/pom.xml
  maven/archetypes/vcd-ng-angular8/src/main/resources/META-INF/archetype-post-generate.groovy
  maven/archetypes/vcd-ng-angular8/src/main/resources/META-INF/maven/archetype-metadata.xml
  maven/archetypes/vcd-ng-angular8/src/main/resources/archetype-resources/.editorconfig
  maven/archetypes/vcd-ng-angular8/src/main/resources/archetype-resources/.gitignore
  maven/archetypes/vcd-ng-angular8/src/main/resources/archetype-resources/license_data/_license/template_header.txt.ftl
  maven/archetypes/vcd-ng-angular8/src/main/resources/archetype-resources/license_data/_license/template_license.txt.ftl
  maven/archetypes/vcd-ng-angular8/src/main/resources/archetype-resources/license_data/licenses.properties
  maven/archetypes/vcd-ng-angular8/src/main/resources/archetype-resources/package.json
  maven/archetypes/vcd-ng-angular8/src/main/resources/archetype-resources/pom.xml
  maven/archetypes/vcd-ng-angular8/src/main/resources/archetype-resources/postcss.config.js
  maven/archetypes/vcd-ng-angular8/src/main/resources/archetype-resources/src/main/__projectName__.component.html
  maven/archetypes/vcd-ng-angular8/src/main/resources/archetype-resources/src/main/__projectName__.component.ts
  maven/archetypes/vcd-ng-angular8/src/main/resources/archetype-resources/src/main/__projectName__.module.ts
  maven/archetypes/vcd-ng-angular8/src/main/resources/archetype-resources/src/main/index.ts
  maven/archetypes/vcd-ng-angular8/src/main/resources/archetype-resources/src/main/model/sample-member.ts
  maven/archetypes/vcd-ng-angular8/src/main/resources/archetype-resources/src/main/services/sample.service.ts
  maven/archetypes/vcd-ng-angular8/src/main/resources/archetype-resources/src/public/assets/empty
  maven/archetypes/vcd-ng-angular8/src/main/resources/archetype-resources/src/public/i18n.json
  maven/archetypes/vcd-ng-angular8/src/main/resources/archetype-resources/src/public/manifest.json
  maven/archetypes/vcd-ng-angular8/src/main/resources/archetype-resources/tsconfig.json
  maven/archetypes/vcd-ng-angular8/src/main/resources/archetype-resources/webpack.config.js
Labels: kind/enhancement, version/minor, area/maven

#667 [maven/plugins] Update Javadoc
  maven/plugins/common/pom.xml
  maven/plugins/common/src/main/java/com/vmware/pscoe/maven/plugins/AbstractVroTestMojo.java
  maven/plugins/typescript/pom.xml
  maven/plugins/typescript/src/main/java/com/vmware/pscoe/maven/plugins/TypescriptTestMojo.java
Labels: kind/bug, kind/skip-changelog, version/patch, area/maven

#677 [artifact-manager] Remove fetching of Content Sharing Policies before creation
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/aria/automation/rest/RestClientVraNgPrimitive.java
  docs/versions/latest/Release.md
Labels: kind/bug, lang/java, area/artifact-manager, version/patch
