Repository vmware/build-tools-for-vmware-aria, pull requests merged in 2025-04, with the labels that each got.

#671 [installer] (#658) Add Logging Configuration for the Installer
  docs/versions/latest/Release.md
  package-installer/etc/logback.xml
  package-installer/pom.xml
  package-installer/src/assembly/package-installer.xml
Labels: kind/bug, lang/java, dco-required, area/installer, version/minor

#674 [typescript/vrotsc] (#673) jest unit testing path transforming
  docs/versions/latest/Release.md
  typescript/vrotsc/src/compiler/transformer/codeTransformers/modules.ts
  typescript/vrotsc/src/compiler/transformer/helpers/node.ts
Labels: kind/bug, dco-required, lang/typescript, area/vrotsc, version/patch

#686 [maven] (#685) Update `keystore` version references to 4.4.0
  .github/linters/sun_checks.xml
  README.md
  docs/versions/latest/General/Getting Started/Setting Up Local Environment.md
  docs/versions/latest/Release.md
  infrastructure/.m2/settings.xml
  maven/plugins/actions/src/it/basic/pom.xml
  maven/plugins/actions/src/it/pull/pom.xml
  maven/plugins/polyglot/src/it/basic/pom.xml
  maven/plugins/typescript/src/it/basic/pom.xml
  maven/plugins/vrealize/src/it/basic/pom.xml
  maven/plugins/xml/src/it/settings.xml
Labels: kind/bug, area/maven, kind/feature

#687 [minimal-infrasturcutre] Simplify minimal infra setup and add installer script for it
  docs/archive/doc/markdown/setup-workstation.md
  docs/versions/latest/Release.md
  infrastructure/README.md
  infrastructure/docker-compose.yml
  infrastructure/gitlab-runner/Dockerfile
  infrastructure/install.sh
Labels: area/documentation, dco-required, version/minor, area/build, kind/refactor

#692 [vrotest] (#691) Error running unit tests on Mac/Linux
  .github/linters/sun_checks.xml
  docs/versions/latest/Release.md
  maven/plugins/common/src/main/java/com/vmware/pscoe/maven/plugins/AbstractVroTestMojo.java
  typescript/vrotest/src/run.ts
Labels: kind/bug, lang/java, lang/typescript, version/patch, area/tests

#696 chore: uncommented sun-checks
  .github/linters/sun_checks.xml
Labels: kind/skip-changelog, area/tests

#705 [docs] Add `go-btva` link to quickstart guide for easy BTVA setup
  README.md
  docs/versions/latest/Release.md
Labels: area/documentation, version/patch, kind/documentation

#678 [artifact-manager] (#669) Fix failure during pull of `vROPs Policies`
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/aria/operations/models/CustomGroupTypeDTO.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/aria/operations/rest/RestClientVrops.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/aria/operations/rest/package-info.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/aria/operations/store/VropsPackageStore.java
  common/artifact-manager/src/main/java/com/vmware/pscoe/iac/artifact/aria/operations/store/package-info.java
  common/artifact-manager/src/test/java/com/vmware/pscoe/iac/artifact/aria/operations/store/VropsPackageStoreTest.java
  docs/versions/latest/Release.md
Labels: kind/bug, lang/java, area/artifact-manager, version/patch
